/* WCAG i Have choosen a font that are easy to read and i have increased the spaces between the rows and the letter spacing for extra godd visibility 1.4.12. I use a background colour to show where the text stops and a new section begins. I have made sure that i use a good contrast between the text and the backgound 1.4.3
  The language of the page are stated in the boilerplate 3.1 1. I have used semantic HTML. 
 4.1.1 the HTML code are validated in the W3C Validator.
 
*/

body {
  max-width: 1400px;
  margin: 0 auto;
  font-size: 18px;
  font-family: barlow;
  color: rgb(41, 40, 40);
  line-height: 1.5rem;
  letter-spacing: 0.08rem;
  line-height: 1.8rem;
  overflow-x: hidden;
}
input,
textarea {
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: rgb(41, 40, 40);
}

figure {
  margin: 0;
}

h1,
h2,
h3,
h4 {
  margin: 0.3rem;
  margin-top: 1.5rem;
}

h1,
h2,
h3,
h4 {
  font-family: "Josefin Sans", sans-serif;
  line-height: 2.5rem;
}

h1 {
  font-size: 1.6rem;
}
h2 {
  font-size: 1.4rem;
}
h3 {
  font-size: 1.2rem;
  line-height: 1.7rem;
}
main {
  margin-top: 50px;
  padding-left: 1rem;
  padding-right: 1rem;
}

.navigation-full {
  display: none;
}
/*utility classes*/
.no-margin--top {
  margin-top: 0;
  margin-left: 0.2rem;
}
.no-margin--bottom {
  margin-bottom: 0;
}
.margin-bottom {
  margin-bottom: 4rem;
}

article {
  background-color: rgba(236, 238, 236, 0.914);
  border-radius: 5px;
}

.container-img {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 2.5rem;
}
.container-img figure {
  flex-direction: row;
}

.container-img figure img {
  width: 100%;
}

/* Info about */
.h1-info-block-text {
  margin-top: 0;
}
.info-block {
  display: flex;
  flex-direction: column;
  margin-bottom: 4rem;
  padding: 1rem;
}

.info-block figure {
  display: flex;
  justify-content: center;
  margin: 0;
}

.info-block-image {
  border-radius: 0.8rem;
  width: 100%;
  align-items: center;
  object-fit: contain;
}
.tag-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 2rem;
  gap: 1rem;
}
.tag {
  border-radius: 3rem;
  color: white;
  display: inline;
  font-weight: bold;
  padding: 0.8rem;
  text-align: center;
  width: 3.5rem;
}
.tag1 {
  background-color: #829460;
}
.tag2 {
  background-color: #829460;
}
.tag3 {
  background-color: #829460;
  padding-right: 20px;
}
.tag4 {
  background-color: rgba(40, 38, 38, 0.696);
}
.tag5 {
  background-color: rgba(40, 38, 38, 0.696);
}
/* Contact page*/
/* Form, in the form visitors can send a e-mail*/
.form-wrapper {
  background-color: rgba(221, 222, 221, 0.58);
  margin-top: 1.5rem;
  padding: 1rem 1.5rem;
  border-radius: 3px;
  max-width: 50rem;
}
.form-wrapper h3 {
  margin-bottom: 1rem;
}
.form-wrapper label {
  margin-bottom: 1rem;
}

input {
  border-radius: 3px;
  border-color: grey;
  font-size: 0.8rem;
  width: 100%;
  padding: 0.8rem;
  margin-bottom: 1.5rem;
}

textarea {
  border-radius: 3px;
  border-color: grey;
  width: 100%;
  padding: 0.8rem;
}
.field-first-name {
  margin-bottom: 0.8rem;
}
.field-last-name {
  margin-bottom: 0.8rem;
}
.field-email {
  margin-bottom: 1rem;
}
.send-button {
  padding: 0.8rem 4.5rem 0.8rem 4.5rem;
  border-radius: 0.3rem;
  border: 2rem;
  background-color: #ffe1e1;
  max-width: 24rem;
  font-size: larger;
  font-weight: bolder;
  font-family: barlow, sans-serif;
  letter-spacing: 0.09rem;
  transition-delay: 0.1s;
}
.send-button:active {
  background-color: rgb(187, 56, 98);
  box-shadow: 0 5px #666;
  transform: translateY(4px);
  color: aliceblue;
}
.send-button:hover {
  cursor: pointer;
  background-color: rgb(187, 74, 110);
  color: aliceblue;
}
.container-socialmedia {
  display: flex;
}
.container-socialmedia figure {
  flex-direction: row;
  padding: 1rem;
}
.container-socialmedia img {
  max-width: 2.5rem;
}
/* About me page */
.weather {
  font-size: 1.3rem;
  color: #4f6721;
}
/*Grid Passions*/
.grid-container {
  display: grid;
  gap: 2rem;
  grid-template-columns: auto;
  padding-bottom: 4rem;
}
.grid-item {
  background-color: whitesmoke;
  border-radius: 5px;
  padding: 20px;
  text-align: center;
}
/* My work page*/
.expandable {
  background-color: #ffe1e1;
  border-color: grey;
  font-weight: bolder;
  cursor: pointer;
  padding: 0.7rem;
  width: 100%;
  border: none;
  text-align: center;
  outline: none;
  font-size: 1rem;
  font-size: medium;
  font-family: barlow, sans-serif;
  border-radius: 4px;
}
.expandable:hover {
  background-color: rgb(187, 56, 98);
  color: aliceblue;
}
.expandable:after {
  content: "\002B";
  float: right;
  margin-left: 5px;
}
.info-block-text .active:after {
  content: "\2212";
}
.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}

/*Tablet*/
@media only screen and (min-width: 768px) {
  h1 {
    font-size: 2.1rem;
  }
  h2 {
    font-size: 1.5rem;
  }

  /* About me page*/
  /* smaller profil pic on tablets*/
  #profilPic {
    max-width: 22rem;
  }
  #profilPic2 {
    max-width: 22rem;
  }

  /* Grid with two columns on tablet*/
  .grid-container {
    display: grid;
    gap: 2rem;
    grid-template-columns: auto auto;
    padding-bottom: 4rem;
  }
}
/* Desktop*/
@media only screen and (min-width: 992px) {
  body {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  main {
    padding: 0;
    margin-top: 0;
  }

  .info-block {
    display: flex;
    flex-direction: row;
    padding: 2.5rem;
    gap: 30px;
  }
  .info-block-image {
    width: 300px;
    max-width: 400px;
  }
  .info-block-image-cv {
    height: max-content;
    padding-top: 2.5rem;
  }

  .info-block--one-column {
    flex-direction: row;
  }

  .container-img figure img {
    width: 350px;
  }

  /* Contact form*/

  .expandable .send-button {
    cursor: pointer;
    box-shadow: 0 0.2rem #999;
  }
  .expandable .send-button:hover {
    background-color: rgb(143, 75, 97);
    color: aliceblue;
    font-weight: bolder;
    transition: ease-in-out;
    transition-delay: 0.2s;
  }
  .send-button:active {
    box-shadow: 0 5px #666;
    transform: translateY(4px);
    background-color: rgb(187, 56, 98);
  }
  .container-socialmedia a:hover {
    border-bottom: 0.2rem solid #999;
  }

  /* About me page Desktop*/

  .grid-container {
    display: grid;
    gap: 2rem;
    grid-template-columns: auto auto auto;
    padding-bottom: 4rem;
  }

  /* Expandeble button with Javascript*/
  .expandable {
    padding: 0.9rem;

    font-size: 0.9rem;
    font-size: medium;
  }
}
